!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title W3.CSS
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    :css
      * {box-sizing:border-box}
      body {font-family: Verdana,sans-serif;margin:0}
      .mySlides {display:none}
      
      /* Slideshow container */
      .bullshit {
        position: relative;
        top: 10px;
        left: 10px;
      }
      
      
      .slideshow-container {
        max-width: 1000px;
        position: relative;
        margin: auto;
        width:70%;
        height:20%;
        margin-right:2%;
        float: left;
        
      }
      
      .info-events {
        width:27%;
        float: left;
        float: top;
      }
      
      /* Next & previous buttons */
      .prev, .next {
        cursor: pointer;
        position: absolute;
        top: 50%;
        width: auto;
        padding: 16px;
        margin-top: -22px;
        color: white;
        font-weight: bold;
        font-size: 18px;
        transition: 0.6s ease;
        border-radius: 0 3px 3px 0;
      }
      
      /* Position the "next button" to the right */
      .next {
        right: 0;
        border-radius: 3px 0 0 3px;
      }
      
      /* On hover, add a black background color with a little bit see-through */
      .prev:hover, .next:hover {
        background-color: rgba(0,0,0,0.8);
      }
      
      /* Caption text */
      .text {
        color: #f2f2f2;
        font-size: 15px;
        padding: 8px 12px;
        position: absolute;
        bottom: 20px;
        width: 100%;
        text-align: center;
      }
      
      /* Number text (1/3 etc) */
      .numbertext {
        color: #f2f2f2;
        font-size: 12px;
        padding: 8px 12px;
        position: absolute;
        top: 0;
      }
      
      /* The dots/bullets/indicators */
      .dot {
        cursor: pointer;
        height: 15px;
        width: 15px;
        margin: 0 2px;
        background-color: #bbb;
        border-radius: 50%;
        display: inline-block;
        transition: background-color 0.6s ease;
      }
      
      .active, .dot:hover {
        background-color: #717171;
      }
      
      /* Fading animation */
      .fade {
        -webkit-animation-name: fade;
        -webkit-animation-duration: 1.5s;
        animation-name: fade;
        animation-duration: 1.5s;
      }
      
      @-webkit-keyframes fade {
        from {opacity: .4} 
        to {opacity: 1}
      }
      
      @keyframes fade {
        from {opacity: .4} 
        to {opacity: 1}
      }
      
      /* On smaller screens, decrease text size */
      @media only screen and (max-width: 300px) {
        .prev, .next,.text {font-size: 11px}
      }
    %link{:href => "https://www.w3schools.com/w3css/4/w3.css", :rel => "stylesheet"}/
  %body
    #mySidebar.w3-sidebar.w3-bar-block.w3-card-2.w3-animate-left{:style => "display:none"}
      %button.w3-bar-item.w3-button.w3-large{:onclick => "w3_close()"} Close
      %a.w3-bar-item.w3-button{:href => "/points", :style => "visibility:visible"} Points of Interest
      %a.w3-bar-item.w3-button{:href => points_path(:categories => {"Dining" => "1"}), :style => "visibility:visible"} &nbsp&nbsp - Dining
      %a.w3-bar-item.w3-button{:href => points_path(:categories => {"Attraction" => "1"}), :style => "visibility:visible"} &nbsp&nbsp - Attractions
      %a.w3-bar-item.w3-button{:href => points_path(:categories => {"Historical" => "1"}), :style => "visibility:visible"} &nbsp&nbsp - Historical
      %a.w3-bar-item.w3-button{:href => "#"} .
      %a.w3-bar-item.w3-button{:href => "#"} .
      %a.w3-bar-item.w3-button{:href => "/map"} Interactive Map
    #main
      .w3-red
        %button#openNav.w3-button.w3-red.w3-xlarge{:onclick => "w3_open()"} ☰
        .w3-container{:style => "display:inline-block;"}
          %h1{:style => "text-align:center;"} Welcome to Chinatown!
      .bullshit
        .slideshow-container
          .mySlides.fade
            .numbertext 1 / 3
            %img{:height => "550", :src => "https://jbelkbooks.files.wordpress.com/2016/06/chinatown-san-francisco-ca.jpg", :style => "width:100%"}/
            .text ChinaTown
          .mySlides.fade
            .numbertext 2 / 3
            %img{:height => "550", :src => "https://www.sffoodtour.com/images/tour/chinatown-tour.jpg", :style => "width:100%"}/
            .text Arches and shit
          .mySlides.fade
            .numbertext 3 / 3
            %img{:height => "550", :src => "http://cyneats.com/wp-content/uploads/2015/04/DSCF5514-3.jpg", :style => "width:100%"}/
            .text Buy something cause we broke af
          %a.prev{:onclick => "plusSlides(-1)"} ❮
          %a.next{:onclick => "plusSlides(1)"} ❯
          %div{:style => "text-align:center"}
            %span.dot{:onclick => "currentSlide(1)"}
            %span.dot{:onclick => "currentSlide(2)"}
            %span.dot{:onclick => "currentSlide(3)"}
      .info-events
        %p San Francisco Chinatown is the largest Chinatown outside of Asia as well as the oldest Chinatown in North America. It is one of the top tourist attractions in San Francisco. You can use this site to learn more about the attractions, culture, history, and events in Chinatown. If you plan to visit us, you can book a Chinatown tour, hotel rooms, and more.
        %p Upcoming Partner Events:
        %ul
          %li 11/19 Chinatown Night Makret
          %li 12/2 Cultural Awareness Week Begins
          %li 2/16 Chinese New Year
          %li And many more to come!
    :javascript
      var slideIndex = 1;
      showSlides(slideIndex);
      
      function plusSlides(n) {
        showSlides(slideIndex += n);
      }
      
      function currentSlide(n) {
        showSlides(slideIndex = n);
      }
      
      function showSlides(n) {
        var i;
        var slides = document.getElementsByClassName("mySlides");
        var dots = document.getElementsByClassName("dot");
        if (n > slides.length) {slideIndex = 1}    
        if (n < 1) {slideIndex = slides.length}
        for (i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";  
        }
        for (i = 0; i < dots.length; i++) {
            dots[i].className = dots[i].className.replace(" active", "");
        }
        slides[slideIndex-1].style.display = "block";  
        dots[slideIndex-1].className += " active";
      }
    :javascript
      function w3_open() {
        document.getElementById("main").style.marginLeft = "25%";
        document.getElementById("mySidebar").style.width = "25%";
        document.getElementById("mySidebar").style.display = "block";
        document.getElementById("openNav").style.display = 'none';
      }
      function w3_close() {
        document.getElementById("main").style.marginLeft = "0%";
        document.getElementById("mySidebar").style.display = "none";
        document.getElementById("openNav").style.display = "inline-block";
      }
